{# paginator_links / crud_paginator_links #}

{% block paginator_links %}
{% spaceless %}
    {% if paginator.haveToPaginate %}
        {% set ul_attr = ul_attr|merge({class: (ul_attr.class|default('') ~ ' ec-crud-pagination')|trim}) %}
        <nav{% with { attr: nav_attr } %}{{ block('attributes', template_name) }}{% endwith %}>
        <ul{% with { attr: ul_attr } %}{{ block('attributes', template_name) }}{% endwith %}>
                {{ block('paginator_links_content', template_name) }}
            </ul>
        </nav>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block paginator_links_content %}
    {% with { page: pages.first } %}{{ block('paginator_links_first_page', template_name) }}{% endwith %}
    {% with { page: pages.previous } %}{{ block('paginator_links_previous_page', template_name) }}{% endwith %}
    {% for page in pages.before_current %}
        {{ block('paginator_links_other_page', template_name) }}
    {% endfor %}
    {% with { page: pages.current } %}{{ block('paginator_links_current_page', template_name) }}{% endwith %}
    {% for page in pages.after_current %}
        {{ block('paginator_links_other_page', template_name) }}
    {% endfor %}
    {% with { page: pages.next } %}{{ block('paginator_links_next_page', template_name) }}{% endwith %}
    {% with { page: pages.last } %}{{ block('paginator_links_last_page', template_name) }}{% endwith %}
{% endblock %}

{% block paginator_links_first_page %}
    {% set li_attr_child = li_attr.first_page|merge({class: (li_attr.first_page.class|default('') ~ ' first')|trim}) %}
    {% set a_attr_child = a_attr.first_page %}
    {% set page_label = '«' %}
    {{ block('paginator_links_page', template_name) }}
{% endblock %}

{% block paginator_links_previous_page %}
    {% set li_attr_child = li_attr.previous_page|merge({class: (li_attr.previous_page.class|default('') ~ ' previous')|trim}) %}
    {% set a_attr_child = a_attr.previous_page %}
    {% set page_label = '‹' %}
    {{ block('paginator_links_page', template_name) }}
{% endblock %}

{% block paginator_links_current_page %}
    {% set li_attr_child = li_attr.current_page|merge({class: (li_attr.current_page.class|default('') ~ ' current')|trim}) %}
    {% set a_attr_child = a_attr.current_page %}
    {% set page_label = page %}
    {{ block('paginator_links_page', template_name) }}
{% endblock %}

{% block paginator_links_next_page %}
    {% set li_attr_child = li_attr.next_page|merge({class: (li_attr.next_page.class|default('') ~ ' next')|trim}) %}
    {% set a_attr_child = a_attr.next_page %}
    {% set page_label = '›' %}
    {{ block('paginator_links_page', template_name) }}
{% endblock %}

{% block paginator_links_last_page %}
    {% set li_attr_child = li_attr.last_page|merge({class: (li_attr.last_page.class|default('') ~ ' last')|trim}) %}
    {% set a_attr_child = a_attr.last_page %}
    {% set page_label = '»' %}
    {{ block('paginator_links_page', template_name) }}
{% endblock %}

{% block paginator_links_other_page %}
    {% set li_attr_child = li_attr.other_page %}
    {% set a_attr_child = a_attr.other_page %}
    {% set page_label = page %}
    {{ block('paginator_links_page', template_name) }}
{% endblock %}

{% block paginator_links_page %}
    {% if page %}
        {% set li_attr_child = li_attr_child|default([]) %}
        {% set a_attr_child = a_attr_child|default([]) %}
        {% if ajax_options is not null %}
            {% set a_attr_child = a_attr_child|merge({class: (a_attr_child.class|default('') ~ ' ec-crud-ajax-link-auto')|trim}) %}
        {% endif %}
        <li{% with { attr: li_attr_child } %}{{ block('attributes', template_name) }}{% endwith %}>
            <a href="{{ path(route_name, route_params|merge({(attribute_page): page})) }}"{% with { attr: a_attr_child } %}{{ block('attributes', template_name) }}{% endwith %}{% if ajax_options is not null %}{{ ajax_attributes(ajax_options) }}{% endif %}>{{ page_label }}</a>
        </li>
    {% endif %}
{% endblock %}

{# th #}

{% block th %}
{% spaceless %}
    {% if not column.sortable %}
        {{ block('th_not_sortable', template_name) }}
    {% elseif crud.sessionValues.sort != column.id %}
        {{ block('th_sortable_not_active', template_name) }}
    {% elseif crud.sessionValues.sense == constant('Ecommit\\CrudBundle\\Crud\\Crud::DESC') %}
        {{ block('th_sortable_active_desc', template_name) }}
    {% else %}
        {{ block('th_sortable_active_asc', template_name) }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block th_not_sortable %}
    {% set th_attr = th_attr.not_sortable|merge({class: (th_attr.not_sortable.class|default('') ~ ' ec-crud-th ec-crud-th-not-sortable')|trim}) %}
    <th{% with { attr: th_attr } %}{{ block('attributes', template_name) }}{% endwith %}>{{ label|trans }}</th>
{% endblock %}

{% block th_sortable_not_active %}
    {% set th_attr = th_attr.sortable_not_active|merge({class: (th_attr.sortable_not_active.class|default('') ~ ' ec-crud-th ec-crud-th-sortable-not-active')|trim}) %}
    {% set a_attr = a_attr.sortable_not_active %}
    {% if ajax_options is not null %}
        {% set a_attr = a_attr|merge({class: (a_attr.class|default('') ~ ' ec-crud-ajax-link-auto')|trim}) %}
    {% endif %}
    <th{% with { attr: th_attr } %}{{ block('attributes', template_name) }}{% endwith %}>
        <a href="{{ path(crud.routeName, crud.routeParams|merge({('sort'): column.id})) }}"{% with { attr: a_attr } %}{{ block('attributes', template_name) }}{% endwith %}{% if ajax_options is not null %}{{ ajax_attributes(ajax_options) }}{% endif %}>{{ label|trans }}</a>
    </th>
{% endblock %}

{% block th_sortable_active_asc %}
    {% set th_attr = th_attr.sortable_active_asc|merge({class: (th_attr.sortable_active_asc.class|default('') ~ ' ec-crud-th ec-crud-th-sortable-active-asc')|trim}) %}
    {% set a_attr = a_attr.sortable_active_asc %}
    {% set newSense = constant('Ecommit\\CrudBundle\\Crud\\Crud::DESC') %}
    {% set iconName = 'asc' %}
    {{ block('th_sortable_active', template_name) }}
{% endblock %}

{% block th_sortable_active_desc %}
    {% set th_attr = th_attr.sortable_active_desc|merge({class: (th_attr.sortable_active_desc.class|default('') ~ ' ec-crud-th ec-crud-th-sortable-active-desc')|trim}) %}
    {% set a_attr = a_attr.sortable_active_desc %}
    {% set newSense = constant('Ecommit\\CrudBundle\\Crud\\Crud::ASC') %}
    {% set iconName = 'desc' %}
    {{ block('th_sortable_active', template_name) }}
{% endblock %}

{% block th_sortable_active %}
    {% if ajax_options is not null %}
        {% set a_attr = a_attr|merge({class: (a_attr.class|default('') ~ ' ec-crud-ajax-link-auto')|trim}) %}
    {% endif %}
    <th{% with { attr: th_attr } %}{{ block('attributes', template_name) }}{% endwith %}>
        <a href="{{ path(crud.routeName, crud.routeParams|merge({('sort'): column.id, 'sense': newSense})) }}"{% with { attr: a_attr } %}{{ block('attributes', template_name) }}{% endwith %}{% if ajax_options is not null %}{{ ajax_attributes(ajax_options) }}{% endif %}>
            {{- label|trans }} {{ crud_icon(iconName) -}}
        </a>
    </th>
{% endblock %}

{# td #}

{% block td %}
{% spaceless %}
    {% if repeatedValue %}
        {% if td_attr.title is not defined %}
            {% set td_attr = td_attr|merge({title: value}) %}
        {% endif %}
        {% set value = options.repeated_values_string %}
    {% endif %}
    <td{% with { attr: td_attr } %}{{ block('attributes', template_name) }}{% endwith %}>
        {{- (options.escape) ? value : value|raw -}}
    </td>
{% endspaceless %}
{% endblock %}

{# Display settings #}

{% block display_settings %}
{% spaceless %}
    {% if crud.displayResults %}
        {% set displaySettingsContainerAttributes = {'class': 'ec-crud-display-settings', 'id': 'ec-crud-display-settings-'~crud.sessionName, 'data-crud-list-id': crud.divIdList} %}
        {% if modal %}
            {{ block('display_settings_button_modal', template_name) }}
            {{ block('display_settings_container_modal', template_name) }}
        {% else %}
            {{ block('display_settings_button_without_modal', template_name) }}
            {{ block('display_settings_container_without_modal', template_name) }}
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block display_settings_button_modal %}
    {# Modal not available in this theme #}
    {{ block('display_settings_button_without_modal', template_name) }}
{% endblock %}

{% block display_settings_button_without_modal %}
    {% set button_attr = {'data-modal': '0'} %}
    {{ block('display_settings_button', template_name) }}
{% endblock %}

{% block display_settings_button %}
    {% set button_attr = button_attr|default([])|merge({class: (button_attr.class|default('') ~ ' ec-crud-display-settings-button')|trim, 'data-display-settings': 'ec-crud-display-settings-'~crud.sessionName}) %}
    <button{% with { attr: button_attr } %}{{ block('attributes', template_name) }}{% endwith %}>
        {{ crud_icon('display_settings') }} {{ 'display_settings.title'|trans({}, 'EcommitCrudBundle') }}
    </button>
{% endblock %}

{% block display_settings_container_modal %}
    {# Modal not available in this theme #}
    {{ block('display_settings_container_without_modal', template_name) }}
{% endblock %}

{% block display_settings_container_without_modal %}
    {% set displaySettingsContainerAttributes = displaySettingsContainerAttributes|default({})|merge({'data-modal': '0', 'style': 'display: none;'}) %}
    <div{% with { attr: displaySettingsContainerAttributes } %}{{ block('attributes', template_name) }}{% endwith %}>
        {{ block('display_settings_content_without_modal', template_name) }}
    </div>
{% endblock %}

{% block display_settings_content_modal %}
    {# Modal not available in this theme #}
    {{ block('display_settings_content_without_modal', template_name) }}
{% endblock %}

{% block display_settings_content_without_modal %}
    <div>
        <h4>{{ 'display_settings.title'|trans({}, 'EcommitCrudBundle') }}</h4>

        {{ form_start(form) }}
            {{ form_row(form.resultsPerPage) }}
            {{ form_row(form.displayedColumns) }}
            <div>
                <button type="button" class="ec-crud-display-settings-check-all-columns">{{ 'display_settings.check_all'|trans({}, 'EcommitCrudBundle') }}</button>
                &nbsp;
                <button type="button" class="ec-crud-display-settings-uncheck-all-columns">{{ 'display_settings.uncheck_all'|trans({}, 'EcommitCrudBundle') }}</button>
            </div>
            <div style="text-align: center;">
                {{ form_row(form.reset) }}
                {{ form_row(form.save) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{# search_form_start #}

{% block search_form_start %}
{% spaceless %}
    {{ form_start(crud.searcherForm, {'attr': form_attr}) }}
{% endspaceless %}
{% endblock %}

{# search_form_submit #}

{% block search_form_submit %}
    {% spaceless %}
        <button type="submit" {% with { attr: button_attr } %}{{ block('attributes', template_name) }}{% endwith %}>
            {{ crud_icon('search') }} {{ 'search.submit'|trans({}, 'EcommitCrudBundle') }}
        </button>
    {% endspaceless %}
{% endblock %}

{# search_form_reset #}

{% block search_form_reset %}
{% spaceless %}
    <button type="button" {% with { attr: button_attr } %}{{ block('attributes', template_name) }}{% endwith %}>
        {{ crud_icon('reset') }} {{ 'search.reset'|trans({}, 'EcommitCrudBundle') }}
    </button>
{% endspaceless %}
{% endblock %}

{# Attributes #}

{% block attributes %}
    {%- for attrName, attrValue in attr -%}
        {{- " " -}}
        {{- attrName }}="{{ attrValue }}"
    {%- endfor -%}
{% endblock %}
