{{ crud_search_form_start(crud, {}, {'class': 'form-inline'}) }}
    {{ form_row(crud.searcherform.username) }}
    {{ form_row(crud.searcherform.firstName) }}
    {{ form_row(crud.searcherform.lastName) }}

    <div>
        {{ crud_search_form_submit(crud) }}
        {{ crud_search_form_reset(crud) }}
    </div>
</form>
