{% set ajax_options = ajax_options|merge({ 'before': 'if(processCrudDisplaySettings_'~suffix~'() == false) { return false;}' }) %}
{% set reset_ajax_options = ajax_options|merge({ 'before': 'resetDisplaySettings'~suffix~'();' }) %}
{% set modalId = 'display_settings_' ~suffix %}

{% macro contentDisplaySettings(vars) %}
    {% form_theme vars.form 'bootstrap_3_layout.html.twig' %}

    <div class="modal-header">
        <h4 class="modal-title">{% trans %}Display Settings{% endtrans %}</h4>
    </div>

    {{ ecommit_javascript_jquery_ajax_form(vars.url, vars.ajax_options)  }}
    <div class="modal-body">
        {{ form_row(vars.form.resultsPerPage) }}
        {{ form_row(vars.form.displayedColumns) }}

        {{ form_rest(vars.form) }}
    </div>

    <div class="modal-footer">
        <button type="submit" class="save-boostrap btn btn-success btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span> {% trans %}Save{% endtrans %}
        </button>
    </div>
    </form>
{% endmacro %}

{{ overlay_service.declareHtmlModal(modalId, {content: _self.contentDisplaySettings(_context), close_div_class: close_div_class})|raw }}

<script type="text/javascript">
    {{ overlay_service.declareJavascriptModal(modalId, {close_div_class: close_div_class})|raw }}

    function processCrudDisplaySettings_{{ suffix }}()
    {
       if($('#display_settings_{{ suffix }} input:checkbox:checked').length < 1)
       {
            alert('{% trans %}You need to select at least one column to display{% endtrans %}');
            return false;
       }
        {{ overlay_service.closeModal(modalId)|raw }}
    }
    function changeDisplaySettings{{ suffix }}()
    {
        {{ overlay_service.openModal(modalId)|raw }}
    }
    function resetDisplaySettings{{ suffix }}()
    {
        {{ overlay_service.closeModal(modalId)|raw }}
    }
</script>

<button type="button" class="display_settings-bootstrap btn btn-default btn-sm" onclick="changeDisplaySettings{{ suffix }}(); return false;">
    <span class="glyphicon glyphicon-cog"></span> {% trans %}Display Settings{% endtrans %}
</button>

<div id="js_holder_for_multi_update_{{ suffix }}" style="display: none;"></div>
