{% set ajax_options = ajax_options|merge({ 'before': 'if(processCrudDisplaySettings_'~suffix~'() == false) { return false;}' }) %}
{% set reset_ajax_options = ajax_options|merge({ 'before': 'resetDisplaySettings'~suffix~'();' }) %}
{% set modalId = 'display_settings_' ~suffix %}

{% macro contentDisplaySettings(vars) %}
    <h4 class="titre">{% trans %}Display Settings{% endtrans %}</h4>
    {{ ecommit_javascript_jquery_ajax_form(vars.form, vars.ajax_options)  }}
        <b>{{ form_label(vars.form.resultsPerPage) }} :</b><br />
        {{ form_widget(vars.form.resultsPerPage) }}<br /><br />

        <b>{{ form_label(vars.form.displayedColumns) }} :</b><br />
         {% for choice, child in vars.form.displayedColumns %}
            {{ form_widget(child) }}  {{ form_label(child) }}<br />
        {% endfor %}
        {{ form_rest(vars.form) }}

        <div style="text-align: center;">
            <button type="submit" class="save">{% trans %}Save{% endtrans %}</button>
            {{ ecommit_javascript_jquery_ajax_button('reset_display_settings'|trans, vars.reset_settings_url, vars.reset_ajax_options, {'class': 'raz'}) }}
        </div>
    </form>
{% endmacro %}

{% import _self as macro %}

<script type="text/javascript">
    if ($('#{{ modalId }}').length == 0) {
        $('#{{ div_id_list }}').append('{{ overlay_service.declareHtmlModal(modalId, {close_div_class: close_div_class})|raw }}');
    }
    $('#{{ modalId }} .contentWrap').html('{{ macro.contentDisplaySettings(_context)|replace({"\n":' ', "\r":' '})|e('js') }}');
    {{ overlay_service.declareJavascriptModal(modalId, {close_div_class: close_div_class})|raw }}

    function processCrudDisplaySettings_{{ suffix }}()
    {
       if($('#display_settings_{{ suffix }} input:checkbox:checked').length < 1)
       {
            alert('{% trans %}You need to select at least one column to display{% endtrans %}');
            return false;
       }
        {{ overlay_service.closeModal(modalId)|raw }}
    }
    function changeDisplaySettings{{ suffix }}()
    {
        {{ overlay_service.openModal(modalId)|raw }}
    }
    function resetDisplaySettings{{ suffix }}()
    {
        {{ overlay_service.closeModal(modalId)|raw }}
    }
</script>

{% if display_button %}
<a href="#" onclick="changeDisplaySettings{{ suffix }}(); return false;"><img src="{{ asset(image_url) }}" alt="{% trans %}Display Settings{% endtrans %}" title="{% trans %}Display Settings{% endtrans %}" /></a>
{% endif %}

<div id="js_holder_for_multi_update_{{ suffix }}" style="display: none;"></div>
