{% set ajax_options = ajax_options|merge({ 'before': 'processCrudDisplayConfig();' }) %}

<div id="display_config" class="nomodal">
    <div class="title">{% trans %}Display Settings{% endtrans %}</div>
    {{ jQuery_ajax_form(url, ajax_options)  }}
        <b>{{ form_label(form.npp) }} :</b><br />
        {{ form_widget(form.npp) }}<br /><br />
        
        <b>{{ form_label(form.displayed_columns) }} :</b><br />
         {% for choice, child in form.displayed_columns %}
                {{ form_widget(child) }}  {{ form_label(child) }}<br />
         {% endfor %}
        {{ form_rest(form) }}

        <input type="submit" class="save" value="{% trans %}Save{% endtrans %}" />
    </form>
</div>

<script type="text/javascript">
    function processCrudDisplayConfig()
    {
       if($('#display_config input:checkbox:checked').length < 1)
       {
            alert('{% trans %}You need to select at least one column to display{% endtrans %}');
            return false;
       }
       $("#display_config").hide("slow");
    }
    function ckick_change_config()
    {
        if($("#display_config").is(":visible"))
        {
            $("#display_config").hide("slow");
        }
        else
        {
            $("#display_config").show("slow");
        }
    }
</script>


<a href="#" onclick="ckick_change_config(); return false;"><img src="{{ asset(image_url) }}" alt="{% trans %}Display Settings{% endtrans %}" title="{% trans %}Display Settings{% endtrans %}" /></a>
<div id="js_holder_for_multi_update" style="display: none;"></div>