{% set reset_ajax_options = ajax_options %}
{% set ajax_options = ajax_options|merge({ 'before': 'if(processCrudDisplaySettings'~suffix~'() == false) { return false;}' }) %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div id="display_settings_{{ suffix }}" class="display_settings_nomodal_bootstrap" style="display: none;">
    <h4>{% trans %}Display Settings{% endtrans %}</h4>


    {{ ecommit_javascript_jquery_ajax_form(url, ajax_options)  }}
        {{ form_row(form.resultsPerPage) }}
        {{ form_row(form.displayedColumns) }}

        {{ form_rest(form) }}

        <div style="text-align: center;">
            <button type="submit" class="save-bootstrap btn btn-success btn-sm">
                <span class="glyphicon glyphicon-floppy-disk"></span> {% trans %}Save{% endtrans %}
            </button>
            {{ ecommit_javascript_jquery_ajax_button('<span class="glyphicon glyphicon-fire"></span>' ~ 'reset_display_settings'|trans, reset_settings_url, reset_ajax_options, {'class': 'raz-bootstrap btn btn-default btn-sm'}) }}
        </div>
    </form>
</div>

<script type="text/javascript">
    function processCrudDisplaySettings{{ suffix }}()
    {
       if($('#display_settings_{{ suffix }} input:checkbox:checked').length < 1)
       {
            alert('{% trans %}You need to select at least one column to display{% endtrans %}');
            return false;
       }
       $("#display_settings_{{ suffix }}").hide("slow");
    }
    function clickChangeSettings{{ suffix }}()
    {
        if($("#display_settings_{{ suffix }}").is(":visible"))
        {
            $("#display_settings_{{ suffix }}").hide("slow");
        }
        else
        {
            $("#display_settings_{{ suffix }}").show("slow");
        }
    }
</script>


<button type="button" class="display_settings-bootstrap btn btn-default btn-sm" onclick="clickChangeSettings{{ suffix }}(); return false;">
    <span class="glyphicon glyphicon-cog"></span> {% trans %}Display Settings{% endtrans %}
</button>

<div id="js_holder_for_multi_update_{{ suffix }}" style="display: none;"></div>
