{% set reset_ajax_options = ajax_options %}
{% set ajax_options = ajax_options|merge({ 'on_before_send': '/arg/if(processCrudDisplaySettings'~suffix~'() == false) { arg.stop = true;}' }) %}

<div id="display_settings_{{ suffix }}" class="display_settings_nomodal" style="display: none;">
    <div class="title">{% trans %}Display Settings{% endtrans %}</div>
    {{ form_start_ajax(form, {'ajax_options': ajax_options}) }}
        <b>{{ form_label(form.resultsPerPage) }} :</b><br />
        {{ form_widget(form.resultsPerPage) }}<br /><br />
        
        <b>{{ form_label(form.displayedColumns) }} :</b><br />
         {% for choice, child in form.displayedColumns %}
                {{ form_widget(child) }}  {{ form_label(child) }}<br />
         {% endfor %}
        <button type="button" class="btn-crud-select-columns btn-crud-select-columns-check" onclick="selectAllColumnsCrudDisplaySettings_{{ suffix }}(true)">
            {{ 'check_all'|trans }}
        </button>
        <button type="button" class="btn-crud-select-columns btn-crud-select-columns-uncheck" onclick="selectAllColumnsCrudDisplaySettings_{{ suffix }}(false)">
            {{ 'uncheck_all'|trans }}
        </button>
        {{ form_rest(form) }}

        <div style="text-align: center;">
            <button type="submit" class="save">{% trans %}Save{% endtrans %}</button>
            <button class="ec-crud-ajax-click-auto raz"{{ ajax_attributes({url: reset_settings_url}|merge(reset_ajax_options)) }}>
                {% trans %}reset_display_settings{% endtrans %}
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function processCrudDisplaySettings{{ suffix }}()
    {
       if($('#display_settings_{{ suffix }} input:checkbox:checked').length < 1)
       {
            alert('{% trans %}You need to select at least one column to display{% endtrans %}');
            return false;
       }
       $("#display_settings_{{ suffix }}").hide("slow");
    }
    function selectAllColumnsCrudDisplaySettings_{{ suffix }}(checked)
    {
        $('#display_settings_{{ suffix }} input:checkbox').each(function() {
            $(this).prop('checked', checked);
        });
    }
    function clickChangeSettings{{ suffix }}()
    {
        if($("#display_settings_{{ suffix }}").is(":visible"))
        {
            $("#display_settings_{{ suffix }}").hide("slow");
        }
        else
        {
            $("#display_settings_{{ suffix }}").show("slow");
        }
    }
</script>


{% if display_button %}
<a href="#" onclick="clickChangeSettings{{ suffix }}(); return false;"><img src="{{ asset(image_url) }}" alt="{% trans %}Display Settings{% endtrans %}" title="{% trans %}Display Settings{% endtrans %}" /></a>
{% endif %}

<div id="js_holder_for_multi_update_{{ suffix }}" style="display: none;"></div>
