{% set reset_ajax_options = ajax_options %}
{% set ajax_options = ajax_options|merge({ 'on_before_send': '/arg/if(processCrudDisplaySettings'~suffix~'() == false) { arg.stop = true;}' }) %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div id="display_settings_{{ suffix }}" class="display_settings_nomodal_bootstrap" style="display: none;">
    <h4>{% trans %}Display Settings{% endtrans %}</h4>


    {{ form_start_ajax(form, {'ajax_options': ajax_options}) }}
        {{ form_row(form.resultsPerPage) }}
        {{ form_row(form.displayedColumns) }}
        <button type="button" class="btn btn-default btn-xs" onclick="selectAllColumnsCrudDisplaySettings_{{ suffix }}(true)">
            {{ 'check_all'|trans }}
        </button>
        <button type="button" class="btn btn-default btn-xs" onclick="selectAllColumnsCrudDisplaySettings_{{ suffix }}(false)">
            {{ 'uncheck_all'|trans }}
        </button>

        {{ form_rest(form) }}

        <div style="text-align: center;">
            <button type="submit" class="save-bootstrap btn btn-success btn-sm">
                <span class="glyphicon glyphicon-floppy-disk"></span> {% trans %}Save{% endtrans %}
            </button>
            <button class="ec-crud-ajax-click-auto raz-bootstrap btn btn-default btn-sm"{{ ajax_attributes({url: reset_settings_url}|merge(reset_ajax_options)) }}>
                <span class="glyphicon glyphicon-fire"></span> {% trans %}reset_display_settings{% endtrans %}
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function processCrudDisplaySettings{{ suffix }}()
    {
       if($('#display_settings_{{ suffix }} input:checkbox:checked').length < 1)
       {
            alert('{% trans %}You need to select at least one column to display{% endtrans %}');
            return false;
       }
       $("#display_settings_{{ suffix }}").hide("slow");
    }
    function selectAllColumnsCrudDisplaySettings_{{ suffix }}(checked)
    {
        $('#display_settings_{{ suffix }} input:checkbox').each(function() {
            $(this).prop('checked', checked);
        });
    }
    function clickChangeSettings{{ suffix }}()
    {
        if($("#display_settings_{{ suffix }}").is(":visible"))
        {
            $("#display_settings_{{ suffix }}").hide("slow");
        }
        else
        {
            $("#display_settings_{{ suffix }}").show("slow");
        }
    }
</script>


{% if display_button %}
<button type="button" class="display_settings-bootstrap btn btn-default btn-sm" onclick="clickChangeSettings{{ suffix }}(); return false;">
    <span class="glyphicon glyphicon-cog"></span> {% trans %}Display Settings{% endtrans %}
</button>
{% endif %}

<div id="js_holder_for_multi_update_{{ suffix }}" style="display: none;"></div>
